################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImGuiForm/Debug
/ImGuiForm/.vs/ToolforBitmap/v16
